@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 16px;
  /* colors */
  --advice-color: #cee3e9;
  --accent-color: #52ffa8;
  --background-color: #1f2632;
  --secondary-color: #323a49;
  --gray: #4e5d73;
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--background-color);
  /* height: 100%; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 20rem;
  height: 25rem;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.container .advice {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.8rem;
  gap: 10px;
  height: 95%;
  width: 100%;
}

.advice .divider img {
  width: 100%;
}

.container .advice .advice-number {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.advice .advice-div {
  display: flex;
  flex-direction: column;
}

.advice .advice-div .advice-text {
  font-size: 28px;
  font-weight: 600;
  color: var(--advice-color);
}

.advice .advice-div .underline {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container .advice-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -10%;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;
}

.container .advice-button:hover {
  animation: glow 10s infinite alternate;
}

.container .advice-button:active {
  animation: glow 10s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--accent-color), 0 0 10px var(--accent-color),
      0 0 20px var(--accent-color);
  }
  100% {
    box-shadow: 0 0 10px var(--accent-color), 0 0 20px var(--accent-color),
      0 0 30px var(--accent-color);
  }
}

.attribution {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  color: var(--advice-color);
  margin: auto;
}

.attribution a {
  color: var(--accent-color);
  text-decoration: none;
}

@media (width > 767px) {
  .container {
    width: 30rem;
    height: 25rem;
  }
}

@media (width > 992px) {
  .container {
    width: 35rem;
  }

  .container .advice-button {
    width: 70px;
    height: 70px;
  }
}
