@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 16px;
  /* colors */
  --advice-color: #cee3e9;
  --accent-color: #52ffa8;
  --background-color: #1f2632;
  --secondary-color: #323a49;
  --gray: #4e5d73;
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 95dvw;
  height: 55dvh;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.container .advice {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.2rem;
  gap: 10px;
  height: 95%;
}

.container .advice .advice-number {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.advice .advice-div {
  display: flex;
  flex-direction: column;
}

.advice .advice-div .advice-text {
  font-size: 28px;
  font-weight: 600;
  color: var(--advice-color);
}

.advice .advice-div .underline {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.advice-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 120px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 35px;
  background-color: var(--accent-color);
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  color: var(--advice-color);
  margin: auto;
}

.attribution a {
  color: var(--accent-color);
  text-decoration: none;
}
